
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="servers" aria-label="Online Servers">
    <div class="globe"></div>
  </button>
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="inventory" aria-label="Inventory">
    <div class="inventory"></div>
  </button>
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="weather" aria-label="Weather">
    <div class="cloud"></div>
  </button>
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="lighting" aria-label="Lighting">
    <div class="lightbulb"></div>
  </button>
  <button class="console_tab flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="music" aria-label="Music">
    <div class="music"></div>
  </button>
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="scripting" aria-label="Scripting">
    <div class="script"></div>
  </button>
  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="security" aria-label="Security">
    <div class="key"></div>
  </button>

  <div class="flex-1"></div>

  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" data-tab="settings" aria-label="Settings & Controls">
    <div class="settings"></div>
  </button>

  <button class="console_tab relative flex items-center justify-center w-full h-12 text-gray-600 hover:text-white hint--right px-2" aria-label="Toggle Full Screen Mode" onclick="ui.fullScreen();">
    <div class="full_screen"></div>
  </button>
