Settings tab under construction<br /><br />

<button class="green_button text-white font-bold py-1 px-2 rounded shadow-md" onclick="plugin.load({ id: 'signout_window', url: 'plugins/auth/signout.njk', name: 'Sign Out', drag: true, reload: false });">Signout</button>

