<div class="window window_bg text-white">
    <div class="window_title p-2">
        <span>Error</span>
    </div>
    <div class="container window_body text-center p-2">
        <p>Something went wrong</p>
        <button data-close class="white_button p-2 rounded mt-2" aria-label="Close">Okay</button>
    </div>
</div>
  
<style>

</style>
  
<script>
window[id] = {
    id: id,
    start: function() {
        
    },

    unmount: function() {
        
    }
};
</script>