{% if auth %}

<div>
Ui console tab template
</div>

<script>
var ui_console_template = {

    start: function() {

    },

    unmount: function() {
        
    }
};

ui_console_template.start();
</script>

{% endif %}