Settings tab under construction<br /><br />

<button class="green_button text-white font-bold py-1 px-2 rounded shadow-md" onclick="plugin.load('signout', { path: 'auth', ext: 'njk' });">Signout</button>
<button class="green_button text-white font-bold py-1 px-2 rounded shadow-md" onclick="console_window.loadTabContent('world_editor');">World Editor</button>
